body
{
	--bgcolour: #383838;
	--highlight-colour: rgb(0, 153, 255);
	--link-colour: rgb(144, 141, 225);
	--nav-colour: rgb(43, 110, 156);
	--text-colour: #cfcfcf;
	--inset-bgcolour: rgba(0, 0, 0, 0.5);
	--inset-colour: #979797;
	--key-colour: white;
	margin: 0;
	padding: 0;
	color: var(--text-colour);
	background-color: var(--bgcolour);
	font-family: sans-serif;
	background-image: url(../images/bg_grid.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

noscript
{
	font-style: italic;
	font-size: 0.75em;
}

nav
{
	z-index: 10;
	position: fixed;
	width: 100%;
	top: 0;
}

nav ul
{
	min-height: 2em;
	background-color: white;
	margin: 0;
	padding-right: 2em;
	text-align: right;
	font-size: 0.9em;
}

nav>ul>li:first-child
{
	float: left;
	margin:0;
	padding-left: 2.5em;
}

nav ul li
{
	display: inline-block;
	margin: 0 1em;
	border-bottom: 3px solid transparent;
	border-top: 3px solid transparent;
	min-height: 100%;
	transition: border 0.3s;
}

nav ul li img
{
	height: 1em;
	vertical-align: middle;
}

nav>ul>li:hover
{
	border-bottom: 3px solid var(--highlight-colour);
}

a
{
	transition: color 0.3s;
}

nav a
{
	display: block;
	padding: 1em 1em;
}

nav a, .container a
{
	text-decoration: none;
	color: var(--nav-colour);
}

article a, footer a
{
	text-decoration: none;
	color: var(--link-colour);
}

nav>ul>li:hover a, article a:hover
{
	color: var(--highlight-colour);
}

article a:hover
{
	text-decoration: underline;
}

.placeholderIcon
{
	width: 20px;
	height: 20px;
	background-color: grey;
	display: inline-block;
	vertical-align: top;
	display: none;
}

article
{
	padding-top: 2em;
	margin: 2em 8em;
}

article>p:first-of-type
{
	color: var(--key-colour);
}

article>h1
{
	font-size: 3em;
}

.containerContainer
{
	padding-top: 2em;
	text-align: center;
	margin-bottom: 2em;
}

.container
{
	display: inline-block;
	background-color: var(--inset-bgcolour);
	color: var(--inset-colour);
	text-align: center;
	border-radius: 1em;
	padding: 1em 2em;
}

.container h3
{
	font-weight: normal;
	font-size: 2em;
	margin: 0;
}

#countdownText, #eventPrompt > *, #randomPrompts > *, #randomActivity > *
{
	border: 2px solid var(--key-colour);
	color: var(--key-colour);
}

#countdownText, #eventPrompt > *, #randomPrompts > *, #randomActivity > *, input, select
{
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	font-size: 1.2em;
	margin: 0.25em 0;
	display: inline-block;
}

.notice
{
	border: 2px solid transparent !important;
	color: var(--inset-colour) !important;
	display: block !important;
	font-style: italic !important;
}

input[type=number], input[type=checkbox]
{
	outline: none;
	display: inline-block;
	width: 2em;
	text-align: right;
}
input[type=url]
{
	min-width: calc(100% - 1em);
	margin: 0.5em 0;
}

label
{
	display: inline-block;
	text-align: left;
	min-width: 12em;
}

.hiddenForm
{
	display:none;
}

#eventPrompt > *
{
	display: inline-block;
}

#eventPrompt em, .activityName em
{
	color: var(--inset-colour);
	font-size: 1rem;
	max-width: 20em;
	display: inline-block;
}

#eventPrompt > summary
{
	font-size: 1em;
	display: block;
	border-color: transparent;
	color: var(--inset-colour);
}

#blender-link
{
	background-image:url(../images/blender-logo.svg);
	background-size: auto 50%;
	background-repeat: no-repeat;
	background-position: center left;
}

#menu-link
{
	display:none;
}

.textList, .textItem
{
	list-style-image: url(../images/text-icon.svg);
}

.videoList, .videoItem
{
	list-style-image: url(../images/video-icon.svg);
}

footer
{
	text-align: center;
	font-style: italic;
	margin-top: 4em;
}

input, select
{
	background-color: var(--key-colour);
	border: none;
}

.imageContainer
{
	margin-top: 6em;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	background-color: var(--inset-bgcolour);
	padding: 0.5em 0;
}
.imageContainer div
{
	position: relative;
	margin: 0 -16vw;
	margin-top: 0.25em;
}
.imageContainer img
{
	height: 8vw;
	border-radius: 0.5em;
	margin: 0 0.4em;
}

.imageContainer img:first-of-type
{

	transition: margin 1.0s cubic-bezier(.65,.05,.36,1);
}

#shade
{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--inset-bgcolour);
	z-index: 100;
	text-align: center;
	opacity: 0;
	display: none;
	transition: all 0.25s;
}

#shadeInner
{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);	
	text-align: right;
	transition: all 0.5s ease-out;
}
#previewCaption
{
	display:inline-block;
	margin: 0;
	color: var(--bgcolour);
	background-color: rgba(255, 255, 255, 1);
	padding: 0.5em;
	opacity: 0;
	transition: opacity 0.5s ease 0.5s;
}


@media screen and (max-width: 800px)
{
	nav>ul>li:hover
	{
		border-bottom: none;
		border-right: 3px solid var(--highlight-colour);
	}

	article
	{
		padding-top: 2em;
		margin: 2em 2em;
	}

	nav ul
	{
		padding: 0 0;
	}

	nav>ul>li:first-child
	{
		padding-left: 1.5em;
	}

	nav ul li
	{
		margin: 0;
		display: none;
		border-top: none;
		border-bottom: none;
		border-right: 3px solid transparent;
	}

	nav a
	{
		padding: 0.75em 0.5em;
	}

	.showMenu ul li
	{
		display: block;
	}

	nav #menu-link:before
	{
		position: absolute;
		content: "+";
		width: 1em;
		text-align: center;
		padding-top: 0.75em;
		margin-left: -0.25em;
	}

	.showMenu #menu-link:before
	{
		content: "-";
	}

	#blender-link, #menu-link
	{
		display: block;
	}

	#menu-link
	{
		padding-right: 1em;
	}

	#blender-link
	{
		border-right: none;
		border-left: 3px solid transparent;
		padding-left: 2em;
	}

	#blender-link:hover
	{
		display: block;
		border-left: 3px solid var(--highlight-colour);
	}

	.imageContainer div
	{
		margin: 0 -60vw !important;
	}

	.imageContainer img
	{
		height: 20vw !important;
	}
}
